
body {
  background-color: #fffffffd;
  text-align: center;
}

h1 {
  font-family: 'robort', sans-serif;
  color: rgb(0, 17, 255);
}

p {
  font-family: "comic";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
